<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules_legacy"
        android:dataExtractionRules="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher_tapscribe"
        android:roundIcon="@mipmap/ic_launcher_tapscribe_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rostbubbla"
        android:localeConfig="@xml/locales_config">

        <activity android:name=".ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SpeechUiActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:taskAffinity="se.olle.rostbubbla.speechui" />

        <activity
            android:name=".ui.OpenAIRecordingActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:taskAffinity="se.olle.rostbubbla.openai" />

        <service
            android:name=".overlay.OverlayService"
            android:exported="false"
            android:foregroundServiceType="microphone">
        </service>

        <service
            android:name=".access.PasteAccessibilityService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>

        <receiver android:name=".ui.PttReceiver" android:exported="true">
            <intent-filter>
                <action android:name="se.olle.rostbubbla.ACTION_PTT" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


  </application>
</manifest>
